:root {
    --background-primary: #121113;
    --foreground-primary: #1a191b;  
    --foreground-secondary: #21121d;
    --border-primary: #3c393f;
    --border-secondary: #692955;
    --primary: #d6409f;
    --secondary: #232225;
    --text-color: #eeeef0;
    --text-color-question: #b5b2bc;
    --text-color-disabled: #6f6d78;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", serif;
    font-style: normal;
    font-size: 100%;
}

body {
    background-color: var(--background-primary);
    color: var(--text-color)
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar {
    background-color: var(--foreground-primary);
    width: 400px;
    height: 100%;
    border-right: 1px solid var(--border-primary);
    padding: 30px 0;
}

details {
    width: 100%;
    max-width: 600px;
    padding-bottom: 15px;
}

details.suggestions {
    border-bottom: 1px solid var(--border-primary);
}

.suggestions summary {
    background-color: var(--primary);
}

details summary {
    cursor: pointer;
    padding: 5px 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

details summary::after {
    content: "◬";
    transition: rotate 50ms ease-in;
}

details[open] summary::after {
    content: "◬";
    transition: rotate 50ms ease-in-out;
    rotate: 180deg;
}

details button {
    display: block;
    background-color: var(--secondary);
    border: 1px solid var(--border-primary);
    border-radius: 4px;
    color: var(--text-color);
    width: 85%;
    margin: 0 auto;
    margin-top: 8px;
    padding: 5px;
}

.content {
    background-color: var(--background-primary);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}   

.box-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-align: center;
    height: 100%;
}

.box-home span {
    font-weight: 500;
}

.box-home h1 {
    font-size: 3rem;
    font-weight: 600;
}

.box-home h1 span{
    color: var(--primary);
}

.box-home p {
    font-weight: 300;
}

.box-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-input textarea {
    min-height: 40px;
    height: auto;
    resize: vertical;
    padding: 8px;
    background-color: transparent;
    border: 1px solid var(--border-primary);
    border-radius: 4px;
    outline: none;
    color: var(--text-color);
}

.box-input button {
    width: 170px;
    margin-left: auto;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--text-color);
}

.box-footer {
    width: 100%;
    padding: 20px;
}

.box-footer p {
    text-align: center;
    font-weight: 500;
}

.box-footer p span {
    color: var(--primary);
}